.*
!.gitignore
!.github/PULL_REQUEST_TEMPLATE.md
*.pth
*.pt
*.csv
*.json
*.gz
**/model/
**/__pycache__/
**/wandb/
**/.idea/
**/logs/
**/results/
**/fairseq/
**/best_model/
**/prediction/